<div class="top-main">
  <div class="top-content">
    <%= link_to "新規登録", new_user_path, class: "btn btn-primary btn-lg" %>
    <%= link_to "ログイン", new_session_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>