@import "bootstrap";
@import "top_pages";

.top-main{width: 100%;
    height: auto;
    min-height: 100vh;
    padding: 0 0 50px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center 20%;
    background-size: 85%;
    position: relative;
    background-image: url("robot_toppage-dfcdaa9e7e6be92c51b3e9ae6d12f81ebc898f8e874e6698a23f1d67df4b8764.png");
}

.top-content{
  position:absolute;
  bottom: 50px;
  width: 120%;
  margin: 0 auto;
  max-width: 1100px;
}